services:
  portfolio:
    image: "{{ apps.portfolio.image_repo }}:{{ apps.portfolio.image_tag }}"
    container_name: {{ apps.portfolio.container_name }}
    restart: unless-stopped
    mem_limit: 128m
    cpus: 0.5
    networks:
      - proxy

networks:
  proxy:
    external: true
