AWS_ACCESS_KEY_ID="{{ vault_backup_aws_access_key_id }}"
AWS_SECRET_ACCESS_KEY="{{ vault_backup_aws_secret_access_key }}"
AWS_DEFAULT_REGION="{{ backup_aws_default_region | default('auto') }}"
AWS_EC2_METADATA_DISABLED="true"
RESTIC_REPOSITORY="{{ backup_restic_repository }}"
RESTIC_PASSWORD_FILE="{{ backup_restic_password_file }}"
